* {
	font-family: 'Noto Sans', sans-serif !important;
	color: #562C2C !important;
}

body {
	background-color: #DAFBFB !important;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: 'Chakra Petch', sans-serif !important;
	font-weight: 700 !important;
}

a {
	text-decoration: none !important;
	transition: all .1s ease-in-out;

	cursor: pointer;
}

a:hover {
	color: #F2542D !important;
}

.navbar-container {
	background-color: white !important;
}

.container-fluid {
	padding: 0 !important;	
}

.fluid-page {
	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
}

button {
  padding: .5vw 1.5vh !important;
  font-size: large !important;
  border: 0px;
  border-radius: 5px !important;

  transition: all 0.2s ease-in-out;
}

button.primary {
	border: 2px solid #562C2C !important;
	background-color: #0E9594;
	font-weight: 700 !important;
	color: #F9EFDC !important;
}

button.primary:hover {
	background-color: #127475 !important;
}

button.long {
	width: 100% !important;
}

button.b-info:hover {
	background-color: #8836BF !important;
}

button.b-danger:hover {
	background-color: #B82848 !important;
}

.b-info {
	background-color: #9649CB !important;
	color: #F9EFDC !important;
}

.b-danger {
	background-color: #ce2d4f !important;
	color: #F9EFDC !important;
}

.btn-edit::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f304";
}

.btn-trash::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f1f8";
}

label {
	font-weight: 700;
}

.form-control {
	border: 2px solid #562C2C;
}

.link {
	text-decoration: none;
	color: #562C2C !important;

	transition: all .2s ease-in-out;
}

.link:hover {
	color: #F2542D !important;
}

/* AUTH */

.form-container {
	padding: 2vw;
	/* border: 2px solid #562C2C; */
	border-radius: 10px;
}

/* SITES */
table.table-bordered, table.table-bordered thead, table.table-bordered tbody, table.table-bordered th, table.table-bordered tr, table.table-bordered td {
	border: 2px #562C2C solid !important;
}