* {
	font-family: 'Noto Sans', sans-serif !important;
	color: #562C2C !important;
}

body {
	background-color: #DAFBFB !important;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: 'Chakra Petch', sans-serif !important;
	font-weight: 700 !important;
}

a {
	text-decoration: none !important;
	transition: all .1s ease-in-out;

	cursor: pointer;
}

a:hover {
	color: #F2542D !important;
}

.navbar-container {
	background-color: white !important;
}

.container-fluid {
	padding: 0 !important;	
}

.fluid-page {
	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
}

button.primary {
	border: 2px solid #562C2C !important;
	padding: 1.5vh 1vw;
	background-color: #0E9594;
	border-radius: 5px;
	font-weight: 700 !important;
	color: #F9EFDC !important;
	
	transition: all .1s ease-in-out;
}

button.primary:hover {
	background-color: #127475;
}
button.long {
	width: 100% !important;
}

label {
	font-weight: 700;
}

.form-control {
	border: 2px solid #562C2C;
}

.link {
	text-decoration: none;
	color: #562C2C !important;

	transition: all .2s ease-in-out;
}

.link:hover {
	color: #F2542D !important;
}

/* LANDING */

.landing-container {
	
}

/* AUTH */

.form-container {
	padding: 2vw;
	/* border: 2px solid #562C2C; */
	border-radius: 10px;
}